name: CI

on:
  push:
    branches:
    - '**'
    tags-ignore:
    - '**'
  pull_request:
    branches:
    - '**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: python ${{ matrix.environment }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        environment: [test311, test314]

    steps:
    - uses: actions/checkout@v6
    - uses: prefix-dev/setup-pixi@v0.9.4
      with:
        pixi-version: v0.63.2
        environments: ${{ matrix.environment }}
        activate-environment: ${{ matrix.environment }}
    - name: Run pixi
      run: pixi r test
